.menu {
  &-list {
    list-style: none;
    padding: 0;
  }

  &-item {
    display: flex;
    align-items: center;
    font-size: 22px;
    margin: 0 0 20px 10px;
  }

  &-item-text {
    padding-left: 20px;
  }
}
