.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  &-button {
    margin: 20px 0;
  }

  &-select {
    margin-top: 20px;
  }

  &-input,
  &-button,
  &-select {
    width: 90%;
  }
}
